# CM 3070 Final Project

## CoCurricular Classification for University Advancement

Brian Van Steen 210182781

## 1. Set Up

This project is built using Anaconda JupyterLab, and a dedicated virtual environment was built for this notebook.

The following libraries were installed using pip in the virtual environment terminal:

- NumPy
- Pandas
- Matplotlib
- Seaborn
- scikit-learn
- jupyterlab-git
- pyLDAvis
- TensorFlow
- openpyxl

Each of these libraries can now be imported for use.

In [1]:
# install all libraries

import numpy as np # Python library for working with arrays
import pandas as pd # Python library for data processing, working with CSV files
import matplotlib.pyplot as plt # used for basic visualzations and graph creations
%matplotlib inline
import seaborn as sns # used for advanced visualizations and graph creations

import nltk # import NLTK library for natural language processing
import re # import regular expression library for text pre-processing
import tokenization # import tokenization library

from wordcloud import WordCloud

from sklearn.model_selection import train_test_split # use for Splitting the data between training data and test data
from sklearn.linear_model import LinearRegression # for creating the Linear Regression Model
from sklearn.preprocessing import MinMaxScaler # for normalization
from sklearn.preprocessing import PolynomialFeatures # for multivariate polynomial regression
from sklearn.tree import DecisionTreeClassifier # for cross-validation
from sklearn.linear_model import LogisticRegressionCV # logistic regression
from sklearn.naive_bayes import MultinomialNB # Naive Bayes
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import RidgeClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.pipeline import Pipeline
from sklearn.linear_model import RidgeClassifier
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.decomposition import LatentDirichletAllocation as LDA
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.metrics import mean_squared_error # library for calculating metric
from sklearn.metrics import r2_score # library for calculating metric
from sklearn.metrics import accuracy_score

import tensorflow as tf
import keras
from keras import layers

import pyLDAvis
import pyLDAvis.lda_model
pyLDAvis.enable_notebook()

import warnings
warnings.filterwarnings('ignore')

WARNING:tensorflow:From C:\Users\bvans\anaconda3\envs\NLTK\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# as there are 23 attributes, show all columns when examining all data
pd.set_option('display.max_columns', None)

## 2. Dataset

To start, the co-curricular dataset will be imported.

This dataset has been provided by a Canadian university, consisting of all students who completed a degree or are in the processing of completing a degree, and who participate in co-curricular activities.

In [5]:
# import university co-curricular dataset as DataFrame from .xlsx file
# this required the install of openpyxl from the virtual environment terminal
prelimDataset = pd.read_excel('..\\Preliminary\\preliminaryReportData.xlsx')

In [7]:
# initial summary view of the DataFrame, the preliminary report dataset
prelimDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60996 entries, 0 to 60995
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ClassifierCode       60996 non-null  object
 1   ActivityYear         60996 non-null  object
 2   ActivityCategory     60996 non-null  object
 3   PostCode             55836 non-null  object
 4   Constituent          60996 non-null  object
 5   GraduationYear       56932 non-null  datetime64[ns]
 6   Faculty              56932 non-null  object
 7   Degree               56932 non-null  object
 8   Exclusions           2587 non-null   object
 9   LifetimeDollars      15377 non-null  float64
 10  LifetimeGifts        15377 non-null  float64
 11  RFMRC                15409 non-null  float64
 12  RFMFR                15409 non-null  float64
 13  RFMMO                15409 non-null  float64
 14  RFMTO                15409 non-null  float64
 15  FirstGiftYear        15377 non-null  datetime64[ns]
 16  FirstAmount          15377 non-null  float64
 17  FirstArea            15377 non-null  object
 18  FirstSolicitation    15377 non-null  object
 19  LargestGiftYear      15377 non-null  datetime64[ns]
 20  LargestAmount        15377 non-null  float64
 21  LargestArea          15377 non-null  object
 22  LargestSolicitation  15377 non-null  object
dtypes: datetime64[ns](3), float64(8), object(12)
memory usage: 10.7+ MB

In [12]:
prelimDataset.head()

,ClassifierCode,ActivityYear,ActivityCategory,PostCode,Constituent,GraduationYear,Faculty,Degree,Exclusions,LifetimeDollars,LifetimeGifts,RFMRC,RFMFR,RFMMO,RFMTO,FirstGiftYear,FirstAmount,FirstArea,FirstSolicitation,LargestGiftYear,LargestAmount,LargestArea,LargestSolicitation
0,6K223BZ,2010-2011,"Education, Training and Outreach",K2,Alumnus,2008-10-24,Faculty:Arts & Social Sciences,Bachelor of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,KBZ43K4,2015-2016,Student Government and Student and Residence Life,K2,Alumnus Parent employee,2017-02-17,Faculty:Public Affairs,Bachelor of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,KBZ43K4,2014-2015,"Panels, Events, Committees and Conferences",K2,Alumnus Parent employee,2017-02-17,Faculty:Public Affairs,Bachelor of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,KBZ43K4,2014-2015,"Panels, Events, Committees and Conferences",K2,Alumnus Parent employee,2017-02-17,Faculty:Public Affairs,Bachelor of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,KKK0BZ0,2012-2013,"Academics, Awards and Research",K1,Alumnus,2016-05-27,Faculty:Public Affairs,Bachelor of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [9]:
# import university co-curricular dataset as DataFrame from .xlsx file
# this required the install of openpyxl
studentDataset = pd.read_excel('..\\..\\Data\\coCurricular.xlsx')

In [10]:
studentDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17714 entries, 0 to 17713
Data columns (total 66 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sort                 17714 non-null  object
 1   RFMRC                4377 non-null   float64
 2   RFMFR                4377 non-null   float64
 3   RFMMO                4377 non-null   float64
 4   RFMTO                4377 non-null   float64
 5   Exclusions           707 non-null    object
 6   Postal               17714 non-null  object
 7   StartYear            17714 non-null  int64
 8   Cat1                 17714 non-null  object
 9   Cat2                 10712 non-null  object
 10  Cat3                 7318 non-null   object
 11  Cat4                 5314 non-null   object
 12  Cat5                 4012 non-null   object
 13  Cat6                 3115 non-null   object
 14  Cat7                 2428 non-null   object
 15  Cat8                 1923 non-null   object
 16  Cat9                 1532 non-null   object
 17  Cat10                1231 non-null   object
 18  Cat11                997 non-null    object
 19  Cat12                798 non-null    object
 20  Cat13                666 non-null    object
 21  Cat14                533 non-null    object
 22  Cat15                436 non-null    object
 23  Cat16                347 non-null    object
 24  Dept1                17714 non-null  object
 25  Dept2                10713 non-null  object
 26  Dept3                7319 non-null   object
 27  Dept4                5315 non-null   object
 28  Dept5                4013 non-null   object
 29  Dept6                3116 non-null   object
 30  Dept7                2429 non-null   object
 31  Dept8                1924 non-null   object
 32  Dept9                1533 non-null   object
 33  Dept10               1232 non-null   object
 34  Dept11               998 non-null    object
 35  Dept12               799 non-null    object
 36  Dept13               667 non-null    object
 37  Dept14               534 non-null    object
 38  Dept15               437 non-null    object
 39  Dept16               348 non-null    object
 40  Constituent          17714 non-null  object
 41  Graduation           16268 non-null  datetime64[ns]
 42  Faculty              16268 non-null  object
 43  Degree               16268 non-null  object
 44  LifetimeDollars      4363 non-null   float64
 45  LifetimeGifts        4363 non-null   float64
 46  FirstYear            4363 non-null   float64
 47  FirstAmount          4363 non-null   float64
 48  FirstArea            4363 non-null   object
 49  FirstSolicitation    4363 non-null   object
 50  LargestYear          4363 non-null   float64
 51  LargestAmount        4363 non-null   float64
 52  LargestArea          4363 non-null   object
 53  LargestSolicitation  4363 non-null   object
 54  Activity1            10445 non-null  object
 55  Activity2            3874 non-null   object
 56  Activity3            1477 non-null   object
 57  Activity4            490 non-null    object
 58  Activity5            160 non-null    object
 59  Activity6            45 non-null     object
 60  Activity7            19 non-null     object
 61  Activity8            7 non-null      object
 62  Activity9            4 non-null      object
 63  Activity10           4 non-null      object
 64  Activity11           2 non-null      object
 65  Activity12           1 non-null      object
dtypes: datetime64[ns](1), float64(10), int64(1), object(54)
memory usage: 8.9+ MB